<!doctype html>
<html>
    <head>
        <title>{% block page_title %}{% endblock %}Meal Manager</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.css">
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Meal Manager <small>V1</small></h1>
            </div>
            {% block page_content %}{% endblock %}
        </div>
    </body>
</html>
