{% extends "_layouts/base.html" %}
{% load url from future %}

{% block page_content %}
<div class="row">
    <h2>Votre menu</h2>
    <div class="table-responsive">
      {% for week in weeks %}
      <h3>Semaine {{week.number}}</h3>
      <table class="table table-hover">
        <tr>
          <th>Jour</th>
          <th>Dinner</th>
          <th>Souper</th>
        </tr>
        {% for day in week.days.all%}
        <tr>
            <td>A venir</td>
            <td>{{day.dinner}}</td>
            <td>{{day.supper}}</td>
          </tr>
        {% endfor %}
      </table>
      {% endfor %}
    </div>
</div>
{% endblock %}
